<div>
    <h2 id="page-heading">
        <span jhiTranslate="adminconsoleApp.coreserviceVirtualAccount.home.title">Virtual Accounts</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-virtual-account" [routerLink]="['/virtual-account/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="adminconsoleApp.coreserviceVirtualAccount.home.createLabel">
            Create a new Virtual Account
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="virtualAccounts?.length === 0">
        <span jhiTranslate="adminconsoleApp.coreserviceVirtualAccount.home.notFound">No virtualAccounts found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="virtualAccounts && virtualAccounts.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
                    <th scope="col"  jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="customerId"><span jhiTranslate="adminconsoleApp.coreserviceVirtualAccount.customerId">Customer Id</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="extCustomerId"><span jhiTranslate="adminconsoleApp.coreserviceVirtualAccount.extCustomerId">Ext Customer Id</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="currency"><span jhiTranslate="adminconsoleApp.coreserviceVirtualAccount.currency">Currency</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="accountNumber"><span jhiTranslate="adminconsoleApp.coreserviceVirtualAccount.accountNumber">Account Number</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="availableBalance"><span jhiTranslate="adminconsoleApp.coreserviceVirtualAccount.availableBalance">Available Balance</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="holdBalance"><span jhiTranslate="adminconsoleApp.coreserviceVirtualAccount.holdBalance">Hold Balance</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="minimumBalance"><span jhiTranslate="adminconsoleApp.coreserviceVirtualAccount.minimumBalance">Minimum Balance</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="accountType"><span jhiTranslate="adminconsoleApp.coreserviceVirtualAccount.accountType">Account Type</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="status"><span jhiTranslate="adminconsoleApp.coreserviceVirtualAccount.status">Status</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="accountHolderEmail"><span jhiTranslate="adminconsoleApp.coreserviceVirtualAccount.accountHolder">Account Holder</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="transactionRequestId"><span jhiTranslate="adminconsoleApp.coreserviceVirtualAccount.transactionRequest">Transaction Request</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let virtualAccount of virtualAccounts ;trackBy: trackId">
                    <td><a [routerLink]="['/virtual-account', virtualAccount.id, 'view']">{{ virtualAccount.id }}</a></td>
                    <td>{{ virtualAccount.customerId }}</td>
                    <td>{{ virtualAccount.extCustomerId }}</td>
                    <td>{{ virtualAccount.currency }}</td>
                    <td>{{ virtualAccount.accountNumber }}</td>
                    <td>{{ virtualAccount.availableBalance }}</td>
                    <td>{{ virtualAccount.holdBalance }}</td>
                    <td>{{ virtualAccount.minimumBalance }}</td>
                    <td jhiTranslate="{{ 'adminconsoleApp.ProfileType.' + virtualAccount.accountType }}">{{ virtualAccount.accountType }}</td>
                    <td jhiTranslate="{{ 'adminconsoleApp.AccountStatus.' + virtualAccount.status }}">{{ virtualAccount.status }}</td>
                    <td>
                        <div *ngIf="virtualAccount.accountHolderId">
                            <a [routerLink]="['/profile', virtualAccount.accountHolderId , 'view']" >{{ virtualAccount.accountHolderEmail }}</a>
                        </div>
                    </td>
                    <td>
                        <div *ngIf="virtualAccount.transactionRequestId">
                            <a [routerLink]="['/transaction-request', virtualAccount.transactionRequestId , 'view']" >{{ virtualAccount.transactionRequestId }}</a>
                        </div>
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/virtual-account', virtualAccount.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/virtual-account', virtualAccount.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(virtualAccount)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div *ngIf="virtualAccounts && virtualAccounts.length > 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>

        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="ngbPaginationPage" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage($event)"></ngb-pagination>
        </div>
    </div>
</div>
